<section class="relative min-h-[100svh] flex items-center justify-center px-5 section-feather bg-pastel-soft">
  <h2 class="text-center text-4xl md:text-6xl font-semibold leading-tight opacity-90 max-w-3xl">
    V jednom obyčajnom momente…<br />
    <!-- <span class="block mt-2">jednu vec…</span> -->
  </h2>
</section>
